<!doctype html>
<html lang="tr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Yeni nesil ticaret">

    <title>e - exportcity</title>

    <!-- FAVİCON -->
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
    <link rel="manifest" href="images/favicon/site.webmanifest">

    <!-- FONTAWSOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- CSS FILES -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link href="css/bootstrap-icons.css" rel="stylesheet">

    <link href="css/templatemo-kind-heart-charity.css" rel="stylesheet">

    <!-- SWİPER CSS FILES -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

</head>

<body id="panel">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid d-flex">
            <a class="navbar-brand" href="#">Panel</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form class="d-flex mx-auto">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Arama</button>
                </form>
                <ul class="d-flex align-items-center navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <button class="btn m-4" type="button" data-bs-toggle="offcanvas" data-bs-target="#yan-menu">
                            Menü
                        </button>
                    </li>
                    <li class="nav-item">
                        <img class="flag tr d-none" src="images/flag/turkey.png" alt="flag">
                        <img class="flag en d-none" src="images/flag/united-kingdom.png" alt="flag">
                    </li>
                    <li class="nav-item">
                        <select class="form-select form-select-sm border-0 bg-transparent" aria-label=".form-select-sm">
                            <option selected>Dil Seçiniz</option>
                            <option value="tr">Türkçe</option>
                            <option value="en">İngilizce</option>
                        </select>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fa-regular fa-bell"></i>
                        </a>
                    </li>

                </ul>

            </div>
        </div>
    </nav>
    <div class="container-fruid">
        <div class="row">
            <div class="offcanvas offcanvas-start" id="yan-menu">
                <div class="offcanvas-header">
                    <h2 class="offcanvas-title">Export City</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link featured-block-text" href="#"><span>İstatistik</span> &#8811;</a>
                        </li>

                    </ul>
                </div>
            </div>

        </div>
    </div>





    <!-- JAVASCRIPT FILES -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.sticky.js"></script>
    <script src="js/click-scroll.js"></script>
    <script src="js/counter.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/index.js"></script>

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

</body>

</html>