<a id="login" style="border: 2px solid rgb(132, 132, 132); border-radius: 20px; color: red"
class="p-2 btn btn-secondary btn-sm" href="#" role="button">login</a>
<a id="logout" style="border: 2px solid rgb(132, 132, 132); border-radius: 20px; color: gray"
class="p-2 btn btn-primary btn-sm " href="#" role="button">logout</a>