<div class="d-flex justify-content-end">
    <a id="ana_sayfa" style="border: 2px solid rgb(132, 132, 132); border-radius: 20px; color: white"
        class="p-2 btn btn-secondary btn-sm" href="/" role="button">Ana Sayfa</a>
    <select id="lang_select" style="max-width: 8rem;" class="mx-2 form-select" aria-label="Default select example">
        <option selected>Dil Seç</option>
        <option value="tr">Türkçe</option>
        <option value="en">İngilizce</option>
    </select>

    <a id="login" style="border: 2px solid rgb(132, 132, 132); border-radius: 20px; color: white"
        class="p-2 btn btn-secondary btn-sm" href="/login/tr" role="button">login</a>
    <a id="logout" style="border: 2px solid rgb(132, 132, 132); border-radius: 20px; color: white"
        class="p-2 btn btn-primary btn-sm " href="/" role="button">logout</a>
</div>