<%- include ('panel-headers-footer/headers') %>
      <section class="section-padding section-bg" id="uye-satis">
            <div class="col-12 px-4">
                  <h2 class="mb-5 text-capitalize">üyelik işlemleri</h2>
                  <div class="alert alert-danger d-none" role="alert"></div>

                  <div class="container">
                        <div class="row">
                              <div class="col-4 mb-1">
                                  <input name="uye-search" class="form-control me-2" type="search" placeholder="üye ara" aria-label="Search">  
                              </div>
                              

                        </div>
                  </div>
            </div>
      </section>
      <%- include ('panel-headers-footer/footer') %>